<!DOCTYPE html>
<meta charset="utf-8">
<head>
    <title>College Selection Made Easy</title>
</head>
<title>
	USA map
</title>

<link rel="stylesheet" href="/static/landing/style.css"/>

<body>
	<script src="../static/lib/d3.v5.min.js"></script>
	<script src="../static/lib/d3-scale-chromatic.v1.min.js"></script>
	<script src="../static/lib/topojson.v2.min.js"></script>
	<script src="../static/lib/d3-tip.min.js"></script>
    <script src="../lib/d3-simple-slider.min.js"></script>

    <select id="Dropdown"></select>

    <div class="px-4 py-3 my-2 text-center">
            <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/CollegeSelectionLogoGold.svg') }}" alt="Logo" width="92" height="92"/>
            <!-- <img  src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
            <h1 class="display-6 fw-bold">Hello {{user}}</h1>
            <p class="fs-5">
                It is nice to meet you!
            </p>
            <a href="{{ url_for('index') }}" class="btn btn-primary btn-lg px-4 gap-3">Log Out</a>
          </div>
<script>

var margin = {
	left: 50,
	right: 50,
	bottom: 50,
	top: 50
};

var width = 960;   //-margin.right-margin.left;
var height = 480;   //-margin.top-margin.bottom;

var dropdown = d3.select("#Dropdown").attr("id", "Dropdown");

var colorScheme = d3.schemeBlues[9];

var svg=d3
	.select("body")
	.append("svg")
	.attr("width", width + margin.right + margin.left)
	.attr("height",height + margin.top + margin.right)
	.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var projection = d3.geoAlbersUsa()
	.scale(800)
	.translate([400, 200]);

var path = d3.geoPath().projection(projection);

var promises = [
	d3.json("/static/landing/states-10m.json")
]

Promise.all(promises).then(function(array) {
	states_10m = array[0];
	display(states_10m);
});

function display(states_10m){

	var tip = d3.tip()
		.attr("class", "d3-tip")
		.offset([0, 0])
		.html("ToolTip");
		
	svg.call(tip);

	svg.append("g")
		.attr("class", "states")
		.selectAll("path")
		.data(topojson.feature(
			states_10m, 
			states_10m.objects.states).features
		)
		.enter().append("path")
		.attr("fill",colorScheme[0])
		.attr("stroke", "#000")
		.attr("d", path)
		.on('mouseover', tip.show)
		.on('mouseout', tip.hide);
}

	svg.append("text")
		.attr("x", width-100)
		.attr("y", height-100)
		.style("font-size", "20px")
		.attr("font-weight", "bold")
		.text("USA map");

</script>

</body>

</html>