<!DOCTYPE html>
<meta charset="utf-8">
<head>
    <title>College Selection Made Easy</title>
    <style>
		body {
			margin: 0;
			padding: 0;
		}

		/* Region 1 */
		.region1 {
			height: 100px;
			background-color: #D6DBD4;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            }

        .logo {
            margin-right: 20px;
        }

        .title {
            margin: 0;
            text-align: center;
            flex-grow: 1;
        }

        .logout-container{
            text-align: right;
        }

        .logout-link,
        .about-link {
            display: inline-block;
            margin-left: 10px;
        }

		/* Region 2 */
		.region2 {
            height: calc(100vh - 100px);
            width: 35%;
            background-color: #aaa;
            float: left;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 20px;
        }

		/* Region 3 */
		.region3 {
            height: calc(75% - 60px);
            width: calc(65% - 20px);
            background-color: #999;
            float: left;
            margin-left: 20px;
            margin-bottom: 20px;
        }

		/* Region 4 */
		.region4 {
            height: calc(25% - 20px);
            width: calc(75% - 20px);
            background-color: #777;
            float: left;
            margin-left: 20px;
        }

        /* Form */
        form {
            width: 40%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-top: 20px;
            align-items: flex-start;
            padding: 5px;
        }

        form > div {
            margin-bottom: 10px;
        }

        label {
            display: inline-block;
            width: 120px;
            text-align: left;
            margin-right: 10px;
            padding: 15px;
        }

        input[type="text"], select {
            width: 200px;
        }

        button {
            margin-top: 10px;
            margin-left: 15px;
        }

	</style>
</head>
<link rel="stylesheet" href="/static/landing/style.css"/>
<body>
	<script src="../static/lib/d3.v5.min.js"></script>
	<script src="../static/lib/d3-scale-chromatic.v1.min.js"></script>
	<script src="../static/lib/topojson.v2.min.js"></script>
	<script src="../static/lib/d3-tip.min.js"></script>
    <script src="../lib/d3-simple-slider.min.js"></script>

    <div class="region1">
            <img class="logo" src="{{ url_for('static', filename='images/CollegeSelectionLogoGold.svg') }}" alt="Logo" width="120" height="120"/>

            <h1 class="title">COLLEGE SELECTION MADE EASY</h1>
            <div class="logout-container">
                <h3>{{user}}</h3>
                <a href="{{ url_for('index') }}" class="logout-link">Log Out</a>
                <br>
                <a href="https://github.com/MaikKalil/CSE6242Project" class="about-link">About</a>
            </div>
    </div>

    <div id="container" style="display: flex">
        <form id="form" method="post" action="{{url_for('update')}}">
            <div>
                <label for="name">States:</label>
                <select id="states" name="states" multiple>
                    {%  for state in states %}
                        <option value="{{ state }}" {% if state in default_selected['states'] %}selected{% endif %}>{{ state }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="name">Home Zip Code:</label>
                <input type="text" id="zip" name="zip" {% if text_default %}value="{{ zip }}"{% endif %} maxlength="5" pattern="\d{5}" required/>
            </div>
            <div>
                <label for="name">Distance Preference:</label>
                <select id="zip_pref" name="zip_pref">
                    <option value="1" {% if default_selected['zip_pref'] == '1' %}selected{% endif %}>1 Equally</option>
                    <option value="2" {% if default_selected['zip_pref'] == '2' %}selected{% endif %}>2 Between 1 & 3</option>
                    <option value="3" {% if default_selected['zip_pref'] == '3' %}selected{% endif %}>3 Moderately</option>
                    <option value="4" {% if default_selected['zip_pref'] == '4' %}selected{% endif %}>4 Between 3 & 5</option>
                    <option value="5" {% if default_selected['zip_pref'] == '5' %}selected{% endif %}>5 Strongly</option>
                    <option value="6" {% if default_selected['zip_pref'] == '6' %}selected{% endif %}>6 Between 5 & 7</option>
                    <option value="7" {% if default_selected['zip_pref'] == '7' %}selected{% endif %}>7 Very Strongly</option>
                    <option value="8" {% if default_selected['zip_pref'] == '8' %}selected{% endif %}>8 Between 7 & 9</option>
                    <option value="9" {% if default_selected['zip_pref'] == '9' %}selected{% endif %}>9 Extremely</option>
                    <option value="10" {% if default_selected['zip_pref'] == '10' %}selected{% endif %}>10 Definitely</option>
                </select>
            </div>
            <div>
                <label for="name">Max Distance:</label>
                <input type="number" id="zip_dist" name="zip_dist" {% if text_default %}value="{{ zip_dist }}"{% endif %} min="0" required />
            </div>
            <div>
                <label for="name">Degree:</label>
                <select id="degree" name="degree">
                    <option value="1" {% if default_selected['degree'] == '1' %}selected{% endif %}>1 Undergraduate Certificate or Diploma</option>
                    <option value="2" {% if default_selected['degree'] == '2' %}selected{% endif %}>2 Associate's Degree</option>
                    <option value="3" {% if default_selected['degree'] == '3' %}selected{% endif %}>3 Bachelor’s Degree</option>
                    <option value="4" {% if default_selected['degree'] == '4' %}selected{% endif %}>4 Post-baccalaureate Certificate</option>
                    <option value="5" {% if default_selected['degree'] == '5' %}selected{% endif %}>5 Master's Degree</option>
                    <option value="6" {% if default_selected['degree'] == '6' %}selected{% endif %}>6 Doctoral Degree</option>
                    <option value="7" {% if default_selected['degree'] == '7' %}selected{% endif %}>7 First Professional Degree</option>
                    <option value="8" {% if default_selected['degree'] == '8' %}selected{% endif %}>8 Graduate/Professional Certificate</option>
                </select>
            </div>
            <div>
                <label for="name">Degree Preference:</label>
                <select id="degree_pref" name="degree_pref">
                    <option value="1" {% if default_selected['degree_pref'] == '1' %}selected{% endif %}>1 Equally</option>
                    <option value="2" {% if default_selected['degree_pref'] == '2' %}selected{% endif %}>2 Between 1 & 3</option>
                    <option value="3" {% if default_selected['degree_pref'] == '3' %}selected{% endif %}>3 Moderately</option>
                    <option value="4" {% if default_selected['degree_pref'] == '4' %}selected{% endif %}>4 Between 3 & 5</option>
                    <option value="5" {% if default_selected['degree_pref'] == '5' %}selected{% endif %}>5 Strongly</option>
                    <option value="6" {% if default_selected['degree_pref'] == '6' %}selected{% endif %}>6 Between 5 & 7</option>
                    <option value="7" {% if default_selected['degree_pref'] == '7' %}selected{% endif %}>7 Very Strongly</option>
                    <option value="8" {% if default_selected['degree_pref'] == '8' %}selected{% endif %}>8 Between 7 & 9</option>
                    <option value="9" {% if default_selected['degree_pref'] == '9' %}selected{% endif %}>9 Extremely</option>
                    <option value="10" {% if default_selected['degree_pref'] == '10' %}selected{% endif %}>10 Definitely</option>
                </select>
            </div>
            <div>
                <button type="submit">Update</button>
            </div>
    </form>
        <div id="right_container" style="display: flex;">
            <div id="map" style="width: 100%; height:70%"></div>
            <div id="left-panel" class="recommended-schools" style="width: 95%; height: calc(35% - 20px); margin-top: 20px;">
                <h2>Recommended Schools</h2>
                <ol id="school-list"></ol>
                <div id="school-list-nav">
                    <button id="school-list-prev">Previous</button>
                    <button id="school-list-next">Next</button>
                </div>
            </div>
        </div>
    </div>





<script>

    var margin = {
        left: 50,
        right: 50,
        bottom: 50,
        top: 50
    };

    var width = 960;   //-margin.right-margin.left;
    var height = 480;   //-margin.top-margin.bottom;

    var dropdown = d3.select("#Dropdown").attr("id", "Dropdown");

    var colorScheme = d3.schemeBlues[9];

    var svg = d3.select("#map")
    .append("svg")
    .attr("width", "100%")
    .attr("height", "100%")
    .attr("viewBox", "0 0 " + width + " " + height)
    .attr("preserveAspectRatio", "xMidYMid meet");


    var projection = d3.geoAlbersUsa()
        .scale(1000)
        .translate([ width / 2, height / 2]);

    var path = d3.geoPath().projection(projection);

    // Create a tip object
    var tip = d3.tip()
        .attr('class', 'd3-tip')
        .offset([-10, 0])
        .html(function(d) {
            return "<strong>Name:</strong> " + d.school_name + "<br>" +
                   "<strong>City:</strong> " + d.city + "<br>" +
                   "<strong>State:</strong> " + d.state;
            //
        });

    // Attach the tip to your SVG
    svg.call(tip);


    var promises = [
        d3.json("/static/landing/states-10m.json"),
        d3.csv("/static/landing/mock_rankings.csv")
    ]

    Promise.all(promises).then(function(array) {
        states_10m = array[0];
        display(states_10m);

        var mock_data = array[1];

        // Add circles for each school to the map
        svg.selectAll("circle")
          .data(mock_data)
          .enter()
          .append("circle")
          .attr("cx", function(d) {
              return projection([d.longitude, d.latitude])[0];
          })
          .attr("cy", function(d) {
              return projection([d.longitude, d.latitude])[1];
          })
          .attr("r", 6)
          .attr("fill", "steelblue")
          .attr("opacity", 0.9)
          .attr("stroke", "black")
          .attr("stroke-width", 1)
          .on("mouseover", function(d) {
              tip.show(d);
           })
          .on("mouseout", function(d) {
            tip.hide(d);
           });

        // Sort the mock_data by rank_score in descending order
        mock_data.sort(function(a, b) {
            return b.rank_score - a.rank_score;
        });

        // Get a reference to the school-list <ol> element
        var schoolList = d3.select("#school-list");

        // Add the school names to the list
        var schools = schoolList.selectAll("li")
            .data(mock_data)
            .enter()
            .append("li");

        schools.append("div")
            .classed("school-name", true)
            .html(function(d, i) {
                return "<span class='rank' style='font-weight: bold; font-size: inherit;'>" + (i + 1) + ".</span> " + d.school_name;
            });


        schools.append("div")
            .classed("school-details", true)
            .append("ul")
            .classed("sublist", true)
            .selectAll("li")
            .data(function(d) {
                return [
                    {label: "Average Tuition:", value: "$" + d.avg_tuition},
                    {label: "Acceptance Rate:", value: d.acceptance_rate + "%"},
                    {label: "Distance:", value: d.distance + " miles"}
                ];
            })
            .enter()
            .append("li")
            .text(function(d) { return d.label + " " + d.value; });


        // Define the number of items to show per page
        var pageSize = 5;

        // Define the current page number
        var currentPage = 0;

        // Define the navigation buttons
        var prevButton = d3.select("#school-list-prev");
        var nextButton = d3.select("#school-list-next");

        // Define the update function for the school list
        function updateSchoolList() {
            // Hide all schools
            schools.style("display", "none");

            // Show the schools for the current page
            schools.filter(function(d, i) {
                    return i >= currentPage * pageSize && i < (currentPage + 1) * pageSize;
            }).style("display", "block");

            // Disable the previous button if we're on the first page
            if (currentPage === 0) {
                prevButton.attr("disabled", true);
            } else {
                prevButton.attr("disabled", null);
            }

            // Disable the next button if we're on the last page
            if ((currentPage + 1) * pageSize >= schools.size()) {
                nextButton.attr("disabled", true);
            } else {
                nextButton.attr("disabled", null);
            }
        }

        // Add a click event listener to the previous button
        prevButton.on("click", function() {
            currentPage--;
            updateSchoolList();
        });

        // Add a click event listener to the next button
        nextButton.on("click", function() {
            currentPage++;
            updateSchoolList();
        });

        // Initialize the school list
        updateSchoolList();

    });

    function display(states_10m){

        svg.append("g")
            .attr("class", "states")
            .attr("transform", "translate(" + (0) + ", 0)")
            .selectAll("path")
            .data(topojson.feature(
                states_10m,
                states_10m.objects.states).features
            )
            .enter().append("path")
            .attr("fill",colorScheme[0])
            .attr("stroke", "#000")
            .attr("d", path)
        // set the fill color to green
        d3.selectAll("path").style("fill", "#90EE90");
    }


</script>

</body>

</html>