.d3-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(43, 43, 43, 0.8);
    color: #fff;
    border-radius: 2px;
    font-size: 20px;
}

  /* Style northward tooltips specifically */
.d3-tip.n:after {
    margin: -10px 0 0 0;
    top: 100%;
    left: 0;
}


#t {
    display: table;
}

#t-Year {
    display: table-cell;
    vertical-align: middle;
}

.counties {
    fill: none;
    stroke: rgb(90, 88, 88);
    stroke-linejoin: round;
}
.states {
    fill: none;
    stroke: rgb(90, 88, 88);
    stroke-linejoin: round;
}



#map-container {
    height: 480px;
}

#school-list {
    list-style: none;
    padding: 0;
}

#school-list li {
    font-weight: normal;
    margin-bottom: 10px;
}

#school-list li span {
    font-weight: normal;
    font-size: 14px;
}

#container {
  display: flex;
}

#left-panel {
  width: 30%;
  border: 2px solid #003057;
  padding: 10px;
  border-radius: 10px;
}


#map {
  width: 100%;
  height: 100%;
  display: flex;
}

.sublist {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    list-style-type: none;
    padding-left: 1rem;
    font-weight: normal;
}

.school-name {
    font-weight: bold;
}

.school-details {
    font-weight: normal;
}

.recommended-schools ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

.recommended-schools li {
  padding: 4px 0;
  border-bottom: 1px solid black;
  width: 80%;
  margin: 0 auto;
}

.recommended-schools li * {
  border-bottom: none;
  padding: 0px 0
}



